.proj-title{
    /* background-color: #00b894; */
    background-color: #00cec9;
    padding: 1rem;
    font-size: large;
    font-weight: 600;
    color: white;
}

.action-btns{
    color: green;
}
.action-btns:last-child{
    color: rgb(219, 33, 0);
}

.clickable{
    cursor: pointer;
    font-size: 1.2rem;
    transition: all .3s;
}
.clickable:first-child{
    margin-right: 18px;
}

.links{
    text-decoration: none;
    font-size: 1.5rem;
}

.form-container{
    /* width: 50vw; */
    max-width: 60vw;
    margin-inline: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#search{
    padding: 8px 0px;
    padding-left: 8px;
    appearance: none;
    border: none;
    outline: none;
    background-color: white;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
}
#search:has(:active, :focus){
    outline: 1px solid grey;
}